<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <title>工作台</title>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_437531_omrlxjrr8e7gy14i.css">
    <link rel="stylesheet" type="text/css" href="/mobile/iconfont/iconfont1.css">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/modify.css">
</head>
<body>
<div class="container index nav-fixed-bottom" id="app" v-cloak>

    <div class="statistics">
        <div class="top">
            <div class="left">
                <span class="headimg" v-if="userInfo.avatar" :style="{'background-image': 'url('+userInfo.avatar + ')'}"></span>
                <span class="headimg" v-if="!userInfo.avatar">
                    {{userInfo.name && userInfo.name.substr(userInfo.name.length-1, 1)}}
                </span>
                <span class="nickname">{{userInfo.name || '加载中'}}</span>
            </div>

            <div class="right">
                <div class="select" @click="selectOwnTime">
                    <div class="current">
                        <span class="txt">{{curOwnTimeOption.key}}</span>
                        <i class="iconfont icon-unfold"></i>
                    </div>
                </div>


            </div>
        </div>
        <div class="list" v-show="userInfo.isCharge == 1">
            <div class="item">
                <p class="p1">{{indexData.ranking || '无'}}</p>
                <p class="p2">本人签约排名</p>
            </div>
            <div class="item">
                <p class="p1">{{ indexData.myContractVolume }}</p>
                <p class="p2">本人月签约额</p>
            </div>
            <div class="item">
                <p class="p1">{{ indexData.companyContractVolume }}</p>
                <p class="p2">公司本月签约额</p>
            </div>
            <div class="item">
                <p class="p1">{{ indexData.myReceiveYear }}</p>
                <p class="p2">本人本年回款额</p>
            </div>
            <div class="item">
                <p class="p1">{{ indexData.myReceivables }}</p>
                <p class="p2">本人应收账款总额</p>
            </div>
            <div class="item">
                <p class="p1">{{ indexData.myOverdueLoans }}</p>
                <p class="p2">本人超期未回款总额</p>
            </div>
        </div>
        <div class="list" v-show="userInfo.isCharge == 2">
            <!--<div class="item">
                <p class="p1">{{indexData.myContractVolume}}</p>
                <p class="p2">公司签约额</p>
            </div>-->
            <div class="item item-charge">
                <p class="p1">{{ indexData.companyContractVolume }}</p>             <!--{{indexData.companyContractVolume}}-->
                <p class="p2">公司月签约额</p>
            </div>

            <div class="item item-charge">
                <p class="p1">{{ indexData.myContractYear }}</p>
                <p class="p2">公司本年签约额</p>
            </div>

            <div class="item item-charge">
                <p class="p1">{{ indexData.myReceiveMonth }}</p>
                <p class="p2">公司月回款额</p>
            </div>

            <div class="item item-charge">
                <p class="p1">{{ indexData.myReceiveYear }}</p>             <!--{{indexData.myReturnAmount}}-->
                <p class="p2">公司本年回款额</p>
            </div>
            <!--<div class="item item-charge">
                <p class="p1">{{indexData.companyContractVolume}}</p>
                <p class="p2">公司签约额</p>
            </div>-->
            <!--<div class="item item-charge">
                <p class="p1">{{indexData.myReturnAmount}}</p>
                <p class="p2">公司当年回款额</p>
            </div>-->
            <div class="item item-charge">
                <p class="p1">{{ indexData.myReceivables }}</p>
                <p class="p2">公司应收账款总额</p>
            </div>
            <div class="item item-charge">
                <p class="p1">{{ indexData.myOverdueLoans }}</p>
                <p class="p2">公司超期未回款总额</p>
            </div>
        </div>
    </div>

    <a class="notice" href="/index/index/message">
        <div class="left">
            <i class="iconfont icon-lingdang"></i>
            <span class="num" v-show="indexData.remind.count > 0">{{indexData.remind.count}}</span>
        </div>
        <div class="center">
            {{indexData.remind.content}}
        </div>
        <div class="right">
            查看更多
        </div>
    </a>

    <!--<div class="ranking">
        <div class="top">
            <div class="left">月签约额排行榜</div>

            <div class="right">
                <div class="select" @click="rankingTime">
                    <div class="current">
                        <span class="txt">{{curRankingTimeOption.key}}</span>
                        <i class="iconfont icon-unfold"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="list">
            <div class="item" v-for="(item,index) in indexData.rankingList" style="">
                <span class="num">{{++index}}</span>
                <span class="img" v-if="item.avatar" :style="{'background-image': 'url('+item.avatar + ')'}"></span>
                <span class="img" v-if="!item.avatar">
                    {{item.name.substr(item.name.length-1, 1)}}
                </span>
                <span class="name">{{item.name}}</span>
                &lt;!&ndash;<span class="sum">{{item.myContractVolume}}</span>&ndash;&gt;
            </div>
        </div>

        <div class="no-data" v-show="indexData.rankingList.length == 0">暂无数据</div>

        <a class="more" href="/index/index/ranking">
            <span>更多</span>
        </a>
    </div>-->
    <div class="charts">
        <div class="top">
            <div class="left">月签约额排行榜</div>

            <div class="right">
                <div class="select" @click="rankingTime">
                    <div class="current">
                        <span class="txt">{{curRankingTimeOption.key}}</span>
                        <i class="iconfont icon-unfold"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="list">
            <div class="item" v-for="(item,index) in indexData.rankingList" style="width:30%;">
                <span class="num">{{++index}} . </span>
                <!--<span class="img" v-if="item.avatar" :style="{'background-image': 'url('+item.avatar + ')'}"></span>
                <span class="img" v-if="!item.avatar">
                    {{item.name.substr(item.name.length-1, 1)}}
                </span>-->
                <span class="name">{{item.name}}</span>
                <!--<span class="sum">{{item.myContractVolume}}</span>-->
            </div>
        </div>

        <div class="no-data" v-show="indexData.rankingList.length == 0">暂无数据</div>

        <a class="more" href="/index/index/ranking">
            <span>更多</span>
        </a>
    </div>

    <!--<div class="record">
        <div class="top">
            <div class="left">添加沟通记录</div>
        </div>
        <div class="list" v-for="(item, index) in recordList">
            <div class="item">
                <span class="txt">客户名称</span>
                <input type="text" v-model="item.customer">
            </div>
            <div class="item">
                <span class="txt">沟通对象</span>
                <input type="text" v-model="item.customerName">
            </div>
            <div class="item-bt">
                <span class="txt">沟通内容</span>
                <input type="text" v-model="item.remark">
            </div>
        </div>

        <div class="btn">
            <button class="bt-left" @click="addRecord">添加新纪录</button>
            <button class="bt-right" @click="submit">提交记录</button>
        </div>
    </div>-->

    <div class="nav" v-if="userInfo.userid">
        <a class="nav-item nav-active" href="/index/index">
            <i class="iconfont icon-gongzuotai1"></i>
            <p>工作台</p>
        </a>
        <a class="nav-item" href="/index/index/order">
            <i class="iconfont icon-zichanxinxibuquancelve"></i>
            <p>订单查询</p>
        </a>
        <a class="nav-item" href="/index/index/lend">
            <i class="iconfont icon-jihua"></i>
            <p>借用</p>
        </a>
        <a class="nav-item" href="/index/index/customer">
            <i class="iconfont icon-category"></i>
            <p>客户</p>
        </a>
        <!--<a class="nav-item" href="/index/index/agent">
            <i class="iconfont icon-dailishangguanli"></i>
            <p>代理商</p>
        </a>-->
        <a v-if="userInfo.roleName === '主管'" href="/index/index/customerRecord" class="nav-item">
            <i class="iconfont icon-chanpin"></i>
            <p>沟通记录</p>
        </a>
    </div>
</div>



<script src="http://g.alicdn.com/dingding/open-develop/1.6.9/dingtalk.js"></script>
<script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
<script src="/static/js/dingding.js"></script>
<script src="/static/js/util.js"></script>
<script>

    var app = new Vue({
        el: '#app',
        data: {
            indexData: {},
            userInfo: {},
            ownTimeOptions: [
                {
                    key: '本月',
                    value: '1'
                },{
                    key: '上个月',
                    value: '2'
                }
            ],
            curOwnTimeOption: {
                key: '本月',
                value: '1'
            },
            RankingTimeOptions: [
                {
                    key: '本月',
                    value: '1'
                },{
                    key: '上个月',
                    value: '2'
                }
            ],
            curRankingTimeOption: {
                key: '本月',
                value: '1'
            },
            recordList : [{}]
        },
        methods: {
            selectOwnTime: function(){
                var self = this;
                dd.biz.util.chosen({
                    source: self.ownTimeOptions,
                    selectedKey: self.curOwnTimeOption.key , // 默认选中的key
                    onSuccess : function(result) {
                        self.curOwnTimeOption = result;
                        self.getStatistics();
                    },
                    onFail : function(err) {}
                });
            },
            rankingTime: function(){
                var self = this;
                dd.biz.util.chosen({
                    source: self.RankingTimeOptions,
                    selectedKey: self.curRankingTimeOption.key , // 默认选中的key
                    onSuccess : function(result) {
                        self.curRankingTimeOption = result;
                        self.getRanking();
                    },
                    onFail : function(err) {}
                });
            },
            getStatistics: function(){
                var self = this;
                axios.get('/api/index/getStatistics', {
                    params: {
                        userId: self.userInfo.userid,
                        type: self.curOwnTimeOption.value,
                        isCharge: self.userInfo.isCharge
                    }
                }).then(function (resp) {
                    if (resp.data.ret) {
                        self.indexData.ranking = resp.data.data.ranking;
                        self.indexData.myContractVolume = resp.data.data.myContractVolume;
                        self.indexData.companyContractVolume = resp.data.data.companyContractVolume;
                        self.indexData.myReturnAmount = resp.data.data.myReturnAmount;
                        self.indexData.myReceivables = resp.data.data.myReceivables;
                        self.indexData.myOverdueLoans = resp.data.data.myOverdueLoans;

                        self.indexData.myContractYear = resp.data.data.myContractYear;
                        self.indexData.myReceiveMonth = resp.data.data.myReceiveMonth;
                        self.indexData.myReceiveYear  = resp.data.data.myReceiveYear;
                    }else{
                        ding.toast(resp.data.msg)
                    }
                })
            },
            getRanking: function(){
                var self = this;
                axios.get('/api/index/get', {
                    params: {
                        mold: 1,
                        type: self.curRankingTimeOption.value
                    }
                }).then(function (resp) {
                    if (resp.data.ret) {
                        self.indexData.rankingList = resp.data.data;
                    }else{
                        ding.toast(resp.data.msg)
                    }
                })
            },
            getData: function(){
                var self = this;
                //alert(self.userInfo.userid);
                axios.get('/api/index/index', {
                    params: {
                        userId: self.userInfo.userid,
                        isCharge: self.userInfo.isCharge
                    }
                }).then(function (resp) {
                    if (resp.data.ret) {
                        self.indexData = resp.data.data;
                    }else{
                        ding.toast(resp.data.msg)
                    }
                })
            },
            submit: function(){
                var self =this;
                alert(self.recordList[0]['customer']);
                var formData = {
                    'userId'    : self.userInfo.userid,
                    'username'  : self.userInfo.name,
                    'isCharge'  : self.userInfo.isCharge,
                    'recordList': self.recordList
                };
                alert(self.recordList.length);
                /*ajax.post('/api/customer/indexRecordAdd',{}, function (resp) {
                alert(123);
                ding.toast('添加成功');

                });*/
                /*ajax.post(
                    '/api/customer/indexRecordAdd',
                    {
                        'userId'    : self.userInfo.userid,
                        'username'  : self.userInfo.name,
                        'isCharge'  : self.userInfo.isCharge,
                        'recordList': self.recordList
                    },
                    function (resp) {
                    /!*self.initData(self.form.type);*!/
                    alert(123);
                    alert(resp.data);
                    self.recordList = [{}];
                    ding.toast('添加成功');
                    /!*setTimeout(function(){
                        history.back();
                    }, 2000)*!/
                });*/
                /*$.ajax({
                    url: '/api/customer/indexRecordAdd',
                    type: 'post',
                    data: formData,
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        alert(data);
                    }
                });*/
                /*axios.get('/api/customer/indexRecordAdd', {
                    params: {
                        'userId'    : self.userInfo.userid,
                        'username'  : self.userInfo.name,
                        'isCharge'  : self.userInfo.isCharge,
                        'recordList': self.recordList
                    }
                }).then(function (resp) {
                    if (resp.data.ret) {
                        //self.indexData = resp.data.data;
                        alert('after');
                        ding.toast('添加成功');
                    }else{
                        ding.toast(resp.msg)
                    }
                    alert(resp);
                });*/
            },
            addRecord : function () {
                this.recordList.push({});
            }

        },
        created: function(){
            var self = this;

            ding.ready(function(){
                ding.getUserInfo(function(resp){
                    self.userInfo = resp.data;
                    self.getData();
                });
            });
        }
    })
</script>
</body>
</html>